$font-family-sans-serif: system-ui, sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

html {
    font-size: 0.8rem;
}

.bg {
    background-color: #efefef;
    color: #292929;
}

.logo {
    width: 1em;
    height: 1em;
}

.brand {
    font-size: 3.4rem;
}

.favicon {
    width: 16px;
    height: 16px;
}

.favlink {
    text-decoration: none;
    color: inherit;
    opacity: 0.8;

    &:hover {
        color: inherit;
        opacity: 1;
    }
}

.no-select {
    user-select: none;
}

.card {
    background-color: rgba(255,255,255,0.2);
}

@media (prefers-color-scheme: dark) {
    .bg {
        background-color: #383838;
        color: white;
    }
}
